@import "./styles/variables";
@import "./styles/header.scss";
@import "./styles/body";
@import "./styles/media";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	height: 100vh;
	width: 100vw;
	background: url("./images/404.jpg") no-repeat;
	background-size: cover;
	background-position-x: center;
	background-position-y: top;
	overflow: hidden;
}

a {
	font-family: $primary-font;
}

ul,
li {
	list-style: none;
}

.container {
	display: flex;
	&-row {
		flex-direction: row;
	}

	&-j-between {
		justify-content: space-between;
	}
}

.font-weight {
	font-weight: 700;
}

.no-color-hover:hover {
	color: inherit;
}

#third {
	opacity: 0;
}
