.jumbotron {
  display: flex;
  height: calc(100vh - 10rem);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  &--big-letters {
    font-family: $primary-font;
    font-size: 10rem;
  }

  &--little-letters {
    font-family: $secondary-font;
    width: 65%;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
  }

  &__btn {
    font-size: 1.5rem;
    margin-top: 1rem;
    color: $white;
    text-decoration: underline;
  }
}

.menu__container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  &--list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  &__first {
    background-color: $black;
    z-index: 1;
  }
  &__second {
    background-color: $red-secondary;
    z-index: 2;
  }
  &__third {
    left: 100%;
    background-color: $white;
    z-index: 3;
  }

  #closeMenu {
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
  }
}