.header {
  height: 4.8rem;
  width: 100%;
  padding: 1.2rem 1.5rem;
  color: white;
  &__menu {
    display: flex;
    flex-direction: row;
    &--mobile {
      display: none;
    }
    &__item {
      margin: 10px 20px;
      color: $white;
      &:hover {
        color: $red;
      }
      &--mobile {
        color: $black;
        margin: 1rem 0;
      }
    }
  }
}