@media (max-width: 1024px) {
  body {
    background-position: center;
  }

  .no-color-hover {
    img {
      display: none;
    }
  }

  .header {
    padding: 0;
    &__logo  {
      padding: 1.2rem;
    }
    &__menu {
      display: none;
      &__item {
        cursor: pointer;
      }
      &--mobile {
        display: block;
        padding: .8rem 0;
      }
    }
  }

  .jumbotron {
    &--little-letters {
      font-family: $secondary-font;
      width: 90%;
      font-size: 2rem;
      font-weight: 300;
      text-align: center;
    }
  }
}