@import url(
  'https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Lato:wght@300&display=swap'
);

$white: #ffffff;
$black: #1f1e1c;
$red: #e50913;
$red-secondary: #b30810;
$primary-font: "Open Sans", Helvetica, sans-serif;
$secondary-font: "Lato", sans-serif;